// Place all the styles related to the groups controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.btn{
	margin-right: 8px;
}
footer{
	margin-top: 20px;
	background-color: #f1f1f1;
	min-height: 60px;
	line-height: 60px;
}
.navbar{
	border-radius: 0px !important;
}